*body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.common-max-width {
    max-width: 700px;
    margin: auto;
}

/* Start navbar style */
.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.navbar-logo img {
    height: 30px;
    width: 100%;
}

.navbar-items ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 12px;
}

.common-btn {
    background-color: rgb(99, 99, 243);
    color: white;
    text-align: center;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
    border-style: none;
}

/* End navbar section */
/* Hero section */
.hero-section {
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, .6),
            rgba(112, 0, 255, .2)),
        url("assets/banner.jpg");

    background-size: cover;
    background-position: center;
}

.hero-section h1 {
    font-size: 40px;
    color: white;
}

.hero-section p {
    max-width: 400px;
    color: white;
    font-size: 12px;
}

.hero-section button {
    margin-top: 70px;
    margin-bottom: 20px;
}

/* Speaker meet */
.meet-header {
    text-align: center;
}

.card-meet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.meet-card {
    border: 1px solid rgb(226, 221, 221);
    border-radius: 5px;
    text-align: center;
}

.meet-card img {
    width: 100%;
}

.personal-info h4 {
    color: blue;
    font-size: 12px;
}

.personal-info p {
    font-size: 12px;
}

.personal-info h2 {
    font-size: 16px;
}

.personal-info {
    padding: 5px;
}

